.Home {
  .header-text {
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    background-color: springgreen;
    padding: 0.5rem 0;
    text-shadow: 0 0 2px #000;
    margin: 1rem 0;
  }

  .output-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 25rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    background-color: #ff5f6d;
    overflow-x: auto;

    .output {
      margin: 0.5rem 0;
      color: white;
      font-weight: bold;
      text-shadow: 0 0 1px #000;
    }
  }
}

@media screen and (max-width: 650px) {
  .output-div {
    width: 20rem !important;
  }
}
