.btn {
  color: #fff;
  padding: 0.8rem 2.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.363);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 2rem;
  outline: none;
  border: none;
  text-decoration: none;
  text-shadow: 0 0 2px #000;
  margin: 0;
  margin-top: 0.5rem;
  cursor: pointer;
}

.green {
  background-color: rgb(2, 221, 111) !important;

  &:hover {
    background-color: #3effa5 !important;
  }
}

.red {
  background-color: rgba(238, 8, 8, 0.865) !important;

  &:hover {
    background-color: #ed3c3c !important;
  }
}

.form-style {
  width: 20rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.363);
  padding: 1.5rem 0.8rem;
  border-radius: 1rem;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .form-style {
    width: 19.5rem !important;
  }
}
